.card {
    background-color: rgba(255, 255, 255, 0.623);  
      border-radius: 12px;
    padding: 13px;
    position: relative;
    width: 17%;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
}
.badge_conta{
    display: flex;
    align-items: center;
    gap: 4px;
}
.title {
    font-size: 11px;
    color: #000;
    margin: 0;
}

.topRightIcon {
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.041);
    cursor: pointer;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.value {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    margin-left: 4px;
    color: #000;
}

.growthBadge {
    display: flex;
    align-items: center;
    background-color: #e9f8e1;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 8px;
    color: #000;
    gap: 6px;
    font-weight: 500;
    width: fit-content;
}

.subText {
    font-size: 8px;
    color: #8c8c8c;
}


@media screen and (max-width: 1366px) and (max-height: 768px) {
    .card {
        padding: 8px;
        width: 15%;
        height: 75px;
    }

    .title {
        font-size: 8px;
    }

    .topRightIcon {
        top: 8px;
        right: 8px;
        width: 22px;
        height: 22px;
    }

    .value {
        font-size: 12px;
        margin-left: 2px;
    }

    .growthBadge {
        padding: 3px 6px;
        font-size: 7px;
        border-radius: 12px;
        gap: 4px;
    }
    .growthBadge svg{

        size: 3px;
    }

    .subText {
        font-size: 7px;
    }

    .badge_conta {
        gap: 3px;
    }

    .valueContainer {
        gap: 6px;
    }
}