.header {
      display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;


}


.center {
  flex: 1;
  text-align: center;
}

.logo {
  max-width: 170px;
}

.container {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 30px;
}
