.container_wrapper {
    border-radius: 8px;
    width: 320px;
    font-family: Arial, sans-serif;
margin-top: 30px;
    margin-bottom: 30px;
}


.header {
    margin-bottom: 10px;
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 12px;
    color: #333;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;

}

.subtitle {
    font-size: 10px;
    color: #989898;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 3px;
}

.currentGwp {
    display: flex;
    align-items: center;
    gap: 8px;
}

.amount {
    font-size: 56px;
    font-weight: 550;

    background: linear-gradient(to right, #00A8E1, #005089d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.growth {
    padding: 6px 13px;
    border-radius: 12px;
    font-size: 12px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #D9F6C6;
    margin-left: 0px;
}

.footer {
    margin-top: 35px;
    padding: 0px;

}

.gwpTitle {
    font-size: 9px;
    color: #666;
    padding: 0px;
    margin: 0px;

}

.gwpAmount {
    font-size:19px;
    font-weight: 400;
    color: #848484;
    padding: 0px;
    margin: 0px;
}


@media screen and (max-width: 1366px) and (max-height: 768px) {
    .container_wrapper {
        width: 280px;
    }

    .title {
        font-size: 10px;
        margin-bottom: 1px;
    }

    .subtitle {
        font-size: 8px;
        margin-bottom: 6px;
    }

    .amount {
        font-size: 34px;
    }

    .growth {
        padding: 4px 10px;
        font-size: 10px;
        border-radius: 10px;
    }

    .footer {
        margin-top: 25px;
    }

    .gwpTitle {
        font-size: 8px;
    }

    .gwpAmount {
        font-size: 16px;
    }
}