@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter", serif;
  background-color: #ECEFF3;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;


    background-image: url(./assets/bg_globe.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-attachment: fixed;
      background-size: 700px 700px;
}
html {
  overflow: auto;
  /* Keeps the scroll functionality */
  scrollbar-width: none;
  /* For Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and newer Edge */
}

.wrapper{
  padding: 20px 35px;
}

.globe_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.globe_wrapper {
    /* background-color: rgb(27, 40, 50); */
  
}

.globe_wrapper>* {
  width: 100%;
  height: 100%;
}
.content_wrapper {
  position: relative;
  z-index: 1;
}

.main_wrapper {
  display: flex;
}
.left_side{
width: 23%;
}

.right_side {
  width: 77%;
}