@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", serif;
  background-color: #ECEFF3;
  background-image: url(./assets/bg_globe.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  background-size: 700px 700px;
}


.main_wrapper{
  display: flex;
}
.left_side{
width: 23%;
  /* background-color: #5e8cc93b; */
}
.right_side{
  width: 77%;
  /* background-color: #45618651; */
}