@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", serif;
  background-color: #ECEFF3;
  background-image: url(./assets/bg_globe.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  background-size: 700px 700px;
}
html {
  overflow: auto;
  /* Keeps the scroll functionality */
  scrollbar-width: none;
  /* For Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and newer Edge */
}

.wrapper{
  padding: 20px 35px;
}

.main_wrapper{
  display: flex;
}
.left_side{
width: 23%;
}
.right_side{
  width: 77%;
}