.card {
    background-color: rgba(255, 255, 255, 0.565);
    padding: 17px;
    border-radius: 17px;
    max-width: 400px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.arrow {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.045);
}



.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}


.amount {
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: #000;
    margin-bottom: 2px;
}

.subtitle {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    color: #888;
}




@media screen and (max-width: 1366px) {
    .card {
        background-color: rgba(255, 255, 255, 0.565);
        padding: 17px;
        border-radius: 17px;
        min-width: 300px;
        margin-bottom: 10px;
        padding-bottom: 4px;
    }

    .amount {
        font-size: 23px;

    }


    .card {
        max-width: 280px;
        padding: 10px;
        border-radius: 14px;
    }

    .header {
        margin-bottom: 10px;
    }

    .title {
        font-size: 12px;
    }

    .arrow {
        height: 22px;
        width: 22px;
    }



    .subtitle {
        font-size: 9px;
    }

    .content {
        margin-top: 6px;
    }
}