.card {
    background-color: rgba(255, 255, 255, 0.51);
        border-radius: 11px;
    padding: 10px;
    width: 10%;
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.title {
    font-size: 9px;
    color: #000;
    margin: 0;
}

.badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #e9f8e1;
    border-radius: 12px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    font-size: 8px;
    gap: 4px;
    color: #000;
}

.value {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    color: #000;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .card {
        padding: 7px;
        width: 8%;
        height: 35px;
        border-radius: 6px;
    }

    .title {
        font-size: 8px;
    }

    .badge {
        top: 6px;
        right: 6px;
        padding: 2px 6px;
        font-size: 6px;
        gap: 3px;
        border-radius: 10px;
    }

   

    .value {
        font-size: 7px;
    }
}